body {
    background-color: darkseagreen;
    background-image: url(paper.jpg);
    background-blend-mode: multiply;
    color: antiquewhite;
    font-family: Roboto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 1000;
    padding-top: 17.5px;
}

.link {
    font-weight: 500;
    padding-top: 25px;
}

img {
    width: 30%;
}

.item {
    margin-top: 0;
    padding-left: 20px;
    display: inline;
    float: left;
    padding-left: 30px;
}

.logo {
    padding-top: 12.5px;
    padding-left: 20px;
    height: 50px;
    width: auto;
    display: inline;
    float: left;
}

.topbar {
    background-color: seagreen;
    height: 75px;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    background-blend-mode: multiply;
    background-image: url(paper2.jpg);
    box-shadow: 0px 3px 10px 2px rgb(26, 78, 49);
}

a {
    color: antiquewhite;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: rgb(197, 185, 171);
    transition: 0.3s;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}